a{ text-decoration: none; }
.entry .entry-content a {
  text-decoration: none;
}

/*--------------------  Padding / Margin ---------------------*/
.nopadding { padding: 0px; }

/*--- All Side padding ---*/
.p-4 { padding: 30px !important; }
.p-5 { padding: 45px !important; }
.p-6 { padding: 65px !important; }
.p-8 { padding: 80px !important; }

/*---Padding Right ---*/
.p-r-0 { padding-right: 0px; }
.p-r-10 { padding-right: 10px; }
.p-r-15 { padding-right: 15px; }
.p-r-20 { padding-right: 20px; }
.p-r-25 { padding-right: 25px; }
.p-r-140 { padding-right: 140px; }

/*---Padding left ---*/
.p-l-0 { padding-left: 0px; }
.p-l-10 { padding-left: 10px; }
.p-l-15 { padding-left: 15px; }
.p-l-20 { padding-left: 20px; }
.p-l-25 { padding-left: 25px; }
.p-l-40 { padding-left: 40px; }
.p-l-140 { padding-left: 140px; }

/*---Padding Top ---*/
.p-t-0 { padding-top: 0px; }
.p-t-10 { padding-top: 10px; }
.p-t-20 { padding-top: 20px; }
.p-t-30 { padding-top: 30px; }
.p-t-40 { padding-top: 40px; }
.p-t-60 { padding-top: 60px; }
.p-t-80 { padding-top: 80px; }
.p-t-100 { padding-top: 100px; }
.p-t-120 { padding-top: 120px; }
.p-t-140 { padding-top: 140px; }
.p-t-200 { padding-top: 200px; }

/*---Padding bottom ---*/
.p-b-0 { padding-bottom: 0px; }
.p-b-10 { padding-bottom: 10px; }
.p-b-20 { padding-bottom: 20px; }
.p-b-30 { padding-bottom: 30px; }
.p-b-40 { padding-bottom: 40px; }
.p-b-60 { padding-bottom: 60px; }
.p-b-80 { padding-bottom: 80px; }
.p-b-100 { padding-bottom: 100px; }
.p-b-120 { padding-bottom: 120px; }
.p-b-140 { padding-bottom: 140px; }

.m-r-0 { margin-right: 0px; }
.m-r-10 { margin-right: 10px; }
.m-r-15 { margin-right: 15px; }
.m-r-20 { margin-right: 20px; }
.m-r-25 { margin-right: 25px; }
.m-l-0 { margin-left: 0px; }
.m-l-10 { margin-left: 10px; }
.m-l-15 { margin-left: 15px; }
.m-l-20 { margin-left: 20px; }
.m-l-25 { margin-left: 25px; }
.m-t-0 { margin-top: 0px; }
.m-t-10 { margin-top: 10px; }
.m-t-20 { margin-top: 20px; }
.m-t-30 { margin-top: 30px; }
.m-t-40 { margin-top: 40px; }
.m-t-60 { margin-top: 60px; }
.m-t-80 { margin-top: 80px; }
.m-t-100 { margin-top: 100px; }
.m-t-120 { margin-top: 120px; }
.m-t-140 { margin-top: 140px; }
.m-b-0 { margin-bottom: 0px; }
.m-b-10 { margin-bottom: 10px; }
.m-b-20 { margin-bottom: 20px; }
.m-b-30 { margin-bottom: 30px; }
.m-b-40 { margin-bottom: 40px; }
.m-b-60 { margin-bottom: 60px; }
.m-b-80 { margin-bottom: 80px; }
.m-b-100 { margin-bottom: 100px; }
.m-b-120 { margin-bottom: 120px; }

/* -----------------------  Buttons -------------------------*/
.btn { font-size: 16px; padding: .375rem .75rem; border: 1px solid transparent; text-decoration: none; }

/*--- btn default --*/
.btn-brand { color: #fff; background-color: #01d486; border-color: #01d486; }
.btn-brand:hover { color: #fff; background-color: #08b072; border-color: #08b072; }
.btn-brand.focus, .btn-brand:focus { color: #fff; background-color: #08b072; border-color: #08b072; box-shadow: none; }

/*--- btn primary --*/
.btn-primary { color: #fff; background-color: #3544ee; border-color: #3544ee; }
.btn-primary:hover { color: #fff; background-color: #2834bd; border-color: #2834bd; }
.btn-primary.focus, .btn-primary:focus { color: #fff; background-color: #2834bd; border-color: #2834bd; box-shadow: 0 0 0 1px rgb(40, 52, 189); }
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus { box-shadow: 0 0 0 1px rgb(40, 52, 189); }
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle { color: #fff; background-color: #2834bd; border-color: #2834bd; }

/*--- btn secondary --*/
.btn-secondary { color: #fff; background-color: #ff5e3e; border-color: #ff5e3e; }
.btn-secondary:hover { color: #fff; background-color: #ea5132; border-color: #ea5132; }
.btn-secondary.focus, .btn-secondary:focus { color: #fff; background-color: #ea5132; border-color: #ea5132; box-shadow: 0 0 0 1px rgb(234, 81, 50); }
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle { color: #fff; background-color: #ea5132; border-color: #ea5132; }
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus { box-shadow: 0 0 0 0.1rem rgb(234, 81, 50); }

/*--- btn success --*/
.btn-success { color: #fff; background-color: #2ec551; border-color: #2ec551; }
.btn-success:hover { color: #fff; background-color: #21ae41; border-color: #21ae41; }
.btn-success.focus, .btn-success:focus { color: #fff; background-color: #21ae41; border-color: #21ae41; box-shadow: 0 0 0 1px rgb(18, 158, 50); }
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle { color: #fff; background-color: #21ae41; border-color: #21ae41; }

/*--- btn danger --*/
.btn-danger { color: #fff; background-color: #ef172c; border-color: #ef172c; }
.btn-danger:hover { color: #fff; background-color: #da0419; border-color: #da0419; }
.btn-danger.focus, .btn-danger:focus { color: #fff; background-color: #da0419; border-color: #da0419; box-shadow: 0 0 0 1px rgb(218, 4, 25); }
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle { color: #fff; background-color: #da0419; border-color: #da0419; }

/*--- btn warning --*/
.btn-warning { color: #2e2f39; background-color: #ffc108; border-color: #ffc108; }
.btn-warning:hover { color: #2e2f39; background-color: #f3b600; border-color: #f3b600; }
.btn-warning.focus, .btn-warning:focus { color: #2e2f39; background-color: #f3b600; border-color: #f3b600; box-shadow: 0 0 0 1px rgb(238, 182, 0); }
.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle { color: #2e2f39; background-color: #f3b600; border-color: #f3b600; }

/*--- btn info --*/
.btn-info { color: #fff; background-color: #25d5f2; border-color: #25d5f2; }
.btn-info:hover { color: #fff; background-color: #17c0dc; border-color: #17c0dc; }
.btn-info.focus, .btn-info:focus { color: #fff; background-color: #17c0dc; border-color: #17c0dc; box-shadow: 0 0 0 1px rgb(238, 184, 22); }
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle { color: #fff; background-color: #17c0dc; border-color: #17c0dc; }

/*--- btn light --*/
.btn-light { color: #71738d; background-color: #f0f0f8; border-color: #f0f0f8; }
.btn-light:hover { color: #2e2f39; background-color: #d7d7df; border-color: #d7d7df; }
.btn-light.focus, .btn-light:focus { color: #2e2f39; background-color: #d7d7df; border-color: #d7d7df; box-shadow: 0 0 0 1px rgb(215, 215, 223); }

/*--- btn dark --*/
.btn-dark { color: #fff; background-color: #2e2f39; border-color: #2e2f39; }
.btn-dark:hover { color: #2e2f39; background-color: #d7d7df; border-color: #d7d7df; }
.btn-dark.focus, .btn-dark:focus { color: #fff; background-color: #d7d7df; border-color: #d7d7df; box-shadow: 0 0 0 1px rgb(46, 47, 57); }

/*--- btn outline brand --*/
.btn-outline-brand { color: #01d486; background-color: transparent; border-color: #01d486; }
.btn-outline-brand:hover { color: #fff; background-color: #01d486; border-color: #01d486; }
.btn-outline-brand.focus, .btn-outline-brand:focus { color: #01d486; background-color: transparent; border-color: #01d486; box-shadow: 0 0 0 1px rgb(1, 212, 134); }

/*--- btn outline primary --*/
.btn-outline-primary { color: #3544ee; background-color: transparent; border-color: #3544ee; }
.btn-outline-primary:hover { color: #fff; background-color: #3544ee; border-color: #3544ee; }
.btn-outline-primary.focus, .btn-outline-primary:focus { color: #fff; background-color: #3544ee; border-color: #3544ee; box-shadow: 0 0 0 1px rgb(53, 68, 238); }

/*--- btn outline secondary --*/
.btn-outline-secondary { color: #ff5e3e; background-color: transparent; border-color: #ff5e3e; }
.btn-outline-secondary:hover { color: #fff; background-color: #ff5e3e; border-color: #ff5e3e; }
.btn-outline-secondary.focus, .btn-outline-secondary:focus { color: #fff; background-color: #ff5e3e; border-color: #ff5e3e; box-shadow: 0 0 0 1px rgb(255, 94, 62); }
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle { color: #fff; background-color: #ff5e3e; border-color: #ff5e3e; }
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus { box-shadow: 0 0 0 0.1rem rgb(255, 94, 62); }

/*--- btn outline success --*/
.btn-outline-success { color: #2ec551; background-color: transparent; border-color: #2ec551; }
.btn-outline-success:hover { color: #fff; background-color: #2ec551; border-color: #2ec551; }
.btn-outline-success.focus, .btn-outline-success:focus { color: #fff; background-color: #2ec551; border-color: #2ec551; box-shadow: 0 0 0 1px rgb(40, 167, 69); }

/*--- btn outline danger --*/
.btn-outline-danger { color: #ef172c; background-color: transparent; border-color: #f03c4d; }
.btn-outline-danger:hover { color: #fff; background-color: #ef172c; border-color: #ef172c; }
.btn-outline-danger.focus, .btn-outline-danger:focus { color: #fff; background-color: #ef172c; border-color: #ef172c; box-shadow: 0 0 0 1px rgb(239, 23, 44); }
.btn-outline-danger-light { color: #ef172c; background-color: #ffecec; border-color: #fedddd; }
.btn-outline-danger-light:hover { color: #fff; background-color: #ef172c; border-color: #ef172c; }
.btn-outline-danger-light.focus, .btn-outline-danger-light:focus { color: #fff; background-color: #ef172c; border-color: #ef172c; box-shadow: 0 0 0 1px rgb(239, 23, 44); }

/*--- btn outline warning --*/
.btn-outline-warning { color: #2e2f39; background-color: transparent; border-color: #ffc108; }
.btn-outline-warning:hover { color: #2e2f39; background-color: #ffc108; border-color: #ffc108; }
.btn-outline-warning.focus, .btn-outline-warning:focus { color: #2e2f39; background-color: #ffc108; border-color: #ffc108; box-shadow: 0 0 0 1px rgb(255, 193, 8); }

/*--- btn outline info --*/
.btn-outline-info { color: #25d5f2; background-color: transparent; border-color: #25d5f2; }
.btn-outline-info:hover { color: #fff; background-color: #25d5f2; border-color: #25d5f2; }
.btn-outline-info.focus, .btn-outline-info:focus { color: #fff; background-color: #25d5f2; border-color: #0998b0; box-shadow: 0 0 0 1px rgb(238, 184, 22); }

/*--- btn outline light --*/
.btn-outline-light { color: #7171a6; background-color: transparent; border-color: #e6e6f2; }
.btn-outline-light:hover { color: #808294 !important; background-color: #f0f0f8; border-color: #cacae0; }
.btn-outline-light.focus, .btn-outline-light:focus { color: #808294; background-color: #f0f0f8; border-color: #cacae0; box-shadow: 0 0 0 1px rgb(235, 235, 237); }

/*--- btn outline light --*/
.btn-outline-white { color: #fff; background-color: transparent; border-color: rgba(255, 255, 255, 0.5); }
.btn-outline-white:hover { color: #353851 !important; background-color: #fff; border-color: #cacae0; }
.btn-outline-white.focus, .btn-outline-white:focus { color: #353851; background-color: #fff; border-color: #fff; box-shadow: 0 0 0 1px rgb(255, 255, 255); }

/*--- btn outline light --*/
.btn-white { color: #353851; background-color: #fff; border-color: rgba(255, 255, 255, 1); }
.btn-white:hover { color: #fff !important; background-color: #04d16f; border-color: #04d16f; }
.btn-white.focus, .btn-outline-white:focus { color: #fff; background-color: #04d16f; border-color: #04d16f; box-shadow: 0 0 0 1px rgb(4, 209, 111, 1); }

/*--- btn outline-dark --*/
.btn-outline-dark { color: #2e2f39; background-color: transparent; border-color: #2e2f39; }
.btn-outline-dark:hover { color: #fff; background-color: #2e2f39; border-color: #2e2f39; }
.btn-outline-dark.focus, .btn-outline-dark:focus { color: #fff; background-color: #2e2f39; border-color: #2e2f39; box-shadow: 0 0 0 1px rgb(46, 47, 57); }

/*--- btn size --*/
.btn-xs { padding: 4px 10px; font-size: 12px; }
.btn-sm { padding: 8px 18px; font-size: 14px; }
.btn-lg { padding: 11px 36px; font-size: 17px; }


/*--- cropper document btn --*/

.btn-rounded {
    border-radius: 100px;
}